<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=tenblob;AccountKey=7eZtJaNW8uoTkax9c5WyJ3vbZ+TmSZUSYfORRcCcYy5V6Q+MnAq0cTzgYiIMhCn8vz0htIesQYj5XM/cHZSq4w==;EndpointSuffix=core.chinacloudapi.cn" />
    </appSettings>
</configuration>